.appHeader {
  color: white;
  font-size: large;
  font-weight: bold;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

.appContent {
  padding: 84px 50px 20px;
  display: flex;
  flex-direction: column;
  background: white;
}

.appContent .title {
  text-align: center;
}

.appFooter {
  background-color: #1890ff;
  color: white;
  padding: 10px 50px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.appFooter a {
  color: white;
  text-decoration: underline;
}
